/* Main container styles */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }

  .choices-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Question and answer styles */
  #quiz, #question, #choice0, #choice1, #choice2, #choice3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
  }

  /* Progress bar styles */
  #progress {
    position: relative;
    width: 80%;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
  }

  #progress-bar {
    height: 100%;
    background-color: #4caf50;
  }

  /* Button styles */
  button {
    margin: 10px;
    padding: 20px;
    font-size: 24px;
    border-radius: 5px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
  }

  button:hover {
    background-color: #1565c0;
  }

  button:focus {
    outline: none;
  }

  /* Sound effect styles */
  .sound-effect {
    display: none;
  }

  /* Fireworks animation */
  .firework {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f44336;
    animation: fireworks 1s ease-in-out infinite;
  }

  .inner-progress {
    position: absolute;
    height: 100%;
    background-color: #4caf50;
  }

  .letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 5px;
    background-color: #4336f4;
    color: rgb(239, 235, 229);
  }

  @keyframes fireworks {
    0% {
      box-shadow: 0 0 0 0 rgba(244, 67, 54, 0.4);
    }
    70% {
      box-shadow: 0 0 0 20px rgba(244, 67, 54, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(244, 67, 54, 0);
    }
  }